RaktarKezelőMaui/.vs
RaktarKezelőMaui/RaktarKezelőMaui/obj
RaktarKezelőMaui/RaktarKezelőMaui/bin
RaktarKezelőMaui/DataBase/bin
RaktarKezelőMaui/DataBase/obj
RaktarKezelőMaui/DeliveryApi/obj
RaktarKezelőMaui/DeliveryApi/bin
